github "glock45/swifter" == 1.3.3
github "SwiftyJSON/SwiftyJSON" == 4.1.0
github "lovexiaov/Fuzi" == 2.0.2
github "tadija/AEXML" == 4.3.0
github "CocoaLumberjack/CocoaLumberjack" == 3.4.2
github "Quick/Nimble" == 7.1.0
